#app {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: whitesmoke
}

/* #363b44 */

/* demo styles
#demo div {
  font-size: 50px;
  font-weight: 800;
} */

.container {
  position: relative;
  width: 100%;
  text-align: center;
  align-content: center
}


.lobby-container {
padding-top: 30px
}

.lobby {
width: 50%;
height: 50%;
margin: auto
}

.avatar {
  height: 75px;
  width: 75px
}

p {
  font-size: 0.75vw
}

.player {
text-align: center;
vertical-align: middle;
height: 100%;
width: 100%;
}

.player-buttons {
  padding-left: 5px;
}

.bet-slider {
  width: 25%;
 margin: auto
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttons-container-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  visibility: hidden
}



.player-font {
  font-size: 1vw
}

.table {
  margin-top: 80px;
  width: 60%;
  height: 60%;
}

.test{
  background-color: white
}

div {
  font-size: 16px;
}

.chipImg {
  width: 50%;
  height: 100%;
}

.chipImgBoard {
  width: 8%;
  height: 16%
}

.chip-2 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-1 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}
/* Style the button and place it in the middle of the container/image */
.seat-1 {
  height: 10%;
  width: 25%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.seat-1-active {
  height: 10%;
  width: 25%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-2 {
  height: 10%;
  width: 25%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-2-active {
  height: 10%;
  width: 25%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.chatbox-container {
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}

.chatbox {
  text-align: left;
  max-width: 100%;
  height: 150px;
  overflow: scroll;
  background-color: whitesmoke;
  border: inset
}
.board {
  width: 40%;
  height:10%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.playerBoard {
  width: 15%;
  height:8%;
  position: absolute;
  top: 75%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.opponentBoard {
  width: 15%;
  height:8%;
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner {
  display: flex;
}

.pot {
  text-align: left
}
.boardCards {
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.playerCards {
  margin: 3px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hiddenBoardCards{
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden
}

.seat-4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.seat-5 {
  position: absolute;
  top: 20%;
  right: -10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.seat-6 {
  position: absolute;
  top: 60%;
  right: -10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

